name: publish

on:
  push:
    branches:
      - master
    paths:
      - package.json

env:
  CI: true

jobs:
  publish:
    uses: haraka/.github/.github/workflows/publish.yml@master
    secrets: inherit

permissions:
  id-token: write # required for OIDC
  contents: write # needed to create tags and releases
  packages: write

